<div class="bootstrap-modal-wrapper">
  <div class="bootstrap-modal-content">
    <div class="bootstrap-modal-header">
      <h5 class="bootstrap-modal-title">Confirm Delete</h5>
      <!-- <button type="button" class="bootstrap-modal-close" (click)="onNoClick()" aria-label="Close">&times;</button> -->
    </div>
    <div class="bootstrap-modal-body">
      Are you sure you want to delete the element with ID {{ data.id }}?
    </div>
    <div class="bootstrap-modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
      <button type="button" [mat-dialog-close]="true" class="btn btn-danger ml-2">Delete</button>
    </div>
  </div>
</div>


